body{
  margin:0;
}
.logo{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0%;
  margin-top: -0%;
}
.Homepage{
  background-color: rgb(238, 237, 222);
  background-size: 100%;
  width:100%;
  height:1650px;
}
.taskbar{
  flex-wrap: wrap;
  position: relative;
  background-color: #3E497A;
  height:4%;
  width:100%;
  display: flex;
  gap: 20px;
  z-index: 2;
}
.searchbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width:30%;
  height:65%;
  margin-top: 10px;;
  background-color: rgb(238, 238, 238);
  border-radius: 25px;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.searchicon{
  position: relative;
  width:10%;
  height:80%;
  margin-top: 3px;
  margin-left: 10px; 
}
.placeholder{
  margin-top: 0%;
  margin-left: 10%;
}
.roudedcorners{
  border-radius: 100%;
}
.p_info{
  width:72%;
  height:350px;
  background-color: rgb(148, 143, 137);
  margin-top: 27px;
  margin-left: 20px;
  border-radius: 20px;
}
.analytics{
  width:72%;
  height:140px;
  background-color: rgb(148, 143, 137);
  margin-top: 27px;
  margin-left: 20px;
  border-radius: 20px;
}
.resources{
  width:72%;
  height:200px;
  background-color: rgb(148, 143, 137);
  margin-top: 27px;
  margin-left: 20px;
  border-radius: 20px;
}
.activity{
  width:72%;
  height:200px;
  background-color: rgb(148, 143, 137);
  margin-top: 27px;
  margin-left: 20px;
  border-radius: 20px;
}
.education{
  width:72%;
  height:200px;
  background-color: rgb(148, 143, 137);
  margin-top: 27px;
  margin-left: 20px;
  border-radius: 20px;
}
.interests{
  width:72%;
  height:200px;
  background-color: rgb(148, 143, 137);
  margin-top: 27px;
  margin-left: 20px;
  border-radius: 20px;
}
.cover_pic{
  position: relative;
  background-image: url('images/pp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(20, 30, 39);
  border-radius: 20px;
}
.p_pic{
  position:absolute;
  z-index: 1;
  margin-top: 5%;
  margin-left: 2%;
}
.cover_text{
  margin-top: 11%;
  margin-left: 3%;
  font-size:x-large;
}
.People_you_may_know{
  position: absolute;
  width:23%;
  height:1000px;
  margin-left: 75%;
  margin-top: -26%;
  background-color: rgb(34, 40, 49);
  border-radius: 20px;
}
input[type="text"]::placeholder{
  color: black;
}
input{
  margin-top: -10px;
  font-size: 18px;
  border: none;
  background-color: rgb(238, 238, 238);
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width:170%;
  height:35%;
  margin-top: 8px;
  margin-left: 30px;
  background-color: rgb(238, 238, 238);
  border-radius: 25px;
  border: none;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#taskbaricons{
  position: absolute;
  margin-top: 0.5%;
  margin-left: 42%;
}
#taskbaricons1{
  position: absolute;
  margin-top: 0.5%;
  margin-left: 52%;
}
#taskbaricons2{
  position: absolute;
  margin-top: 0.5%;
  margin-left: 62%;
}
#taskbaricons3{
  position: absolute;
  margin-top: 0.5%;
  margin-left: 72%;
}
#taskbaricons4{
  position: absolute;
  margin-top: 0.5%;
  margin-left: 82%;
}
#taskbaricons5{
  position: absolute;
  margin-top: 0.5%;
  margin-left: 92%;
}
#homefig1{
  position: relative;
  margin-top: -5%;
  margin-left: -10%;
  color: rgb(238, 238, 238);
}
#homefig2{
  position: relative;
  margin-left: -25px;
  white-space: nowrap;
  color: rgb(238, 238, 238);
}
#homefig3{
  position: relative;
  margin-top: -2px;
  margin-left: -17px;
  color: rgb(238, 238, 238);
}
#homefig4{
  position: relative;
  margin-left: -25px;
  color: rgb(238, 238, 238);
}
#homefig5{
  position: relative;
  margin-right: 50px;
  margin-left: 5px;
  color: rgb(238, 238, 238);
}
#homefig6{
  color: rgb(238, 238, 238);
}

#taskbaricons1:hover{
  transform: scale(1.1);
}
#taskbaricons2:hover{
  transform: scale(1.1);
}
#taskbaricons:hover{
  transform: scale(1.1);
}
#taskbaricons3:hover{
  transform: scale(1.1);
}
#taskbaricons4:hover{
  transform: scale(1.1);
}
#taskbaricons5:hover{
  transform: scale(1.1);
}










.dropdown {
  position: relative;
  display: inline-block;
  z-index:0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(238, 238, 238);
  min-width: 405px;
  overflow: auto;
  margin-top: 43px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(148, 143, 137)}

.show {display:block;}