*{margin: 0;
padding: 0;

}
.sidebar_contents{
    
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 5px;
    
    
    background-color: white ;
    opacity: 1;
    margin-right: 72%;}

.sidebar_contents h1{
   margin-top: 20%;
    margin-left: 3em;
    font-size: 16px;
    padding: 10px;
    
}

    .sidebar_content{

        margin: 10px;
        padding: 1px;
        
        
}
.center_bar{
    margin-top: -24.5%;
    margin-right:  3%;
    margin-left: 35%;
    padding-left: 3%;
    padding: 3%;
    display: flex;
    text-align: left;
    background-color: white;
    border-radius: 5px;
      
    position: relative;

}    
.manage {
    position: absolute;
    right: 20px;
}
.center_bottom{
    margin-top: 2em;
    margin-right:  3%;
    margin-left: 35%;
    padding-left: 3%;
    padding: 3%;
    
    border-radius: 5px;
    
    background-color: white;
}

.card{
    /* width: 400px; */
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 250px;
    /* max-width: 400px; */
    padding: 10px 12px;
    margin: 15px 0;
    flex-direction: column;
}

.pf{
    position: relative;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    right: 450px;
    top: 50px;
}

.icon-sidebar{
    position: relative;
    top: 5px;
}
:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
   
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    



  .dropdown {
    position: relative;
    display: inline-block;
    z-index:1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(238, 238, 238);
    min-width: 405px;
    overflow: auto;
    margin-top: 43px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(148, 143, 137)}
  
  .show {display:block;}
